@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Emilys+Candy&family=Heebo&family=Love+Ya+Like+A+Sister&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cute+Font&family=Emilys+Candy&family=Heebo&family=Love+Ya+Like+A+Sister&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  h1{
    font-family: "Emilys Candy", serif;
    color: #800080;
    margin-top: 5%;
  }
  
  
  
  .container .btn {
    display: inline-block;
    
    margin-top: 8%;
    
    
  }

  .btn{

  }
  .btn a {
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
    font-family: "Love Ya Like A Sister", cursive;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
#move-random{
   
    position: absolute;
  }

  /* Animation for "please" */
/* Animation for "please" */
/* Animation for "please" */
@keyframes moveText {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.please {
  position: absolute;
  font-size: 24px;
  font-family: "Love Ya Like A Sister", cursive;
  color:#ff1493;
  animation: moveText 5s linear forwards; /* Adjust duration as needed */
}
