@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Emilys+Candy&family=Heebo&family=Love+Ya+Like+A+Sister&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cute+Font&family=Emilys+Candy&family=Heebo&family=Love+Ya+Like+A+Sister&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    margin-top: 18%;
    
    
  }
  h1{
    font-family: "Emilys Candy", serif;
    color: #800080;
    margin-top: 8%;
  }
  p{
     font-family: "Emilys Candy", serif;
    color: black;
    font-weight: 200;
    
   
    
  }
  p:hover{
    cursor: pointer;
  }
  
  
  .container .btn {
    display: inline-block;
    
    margin-top: 8%;
    
    
  }
  div{
    padding-bottom: 5px;
    padding-top: 5px;
  }

  
  .btn a {
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
    font-family: "Love Ya Like A Sister", cursive;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
  button{
    padding-bottom: 5px;
  }

  @keyframes moveText {
    0% {
      opacity: 1;
      transform: translateY(-100%);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  .please {
    position: absolute;
    font-size: 24px;
    font-family: "Love Ya Like A Sister", cursive;
    color:#ff1493;
    animation: moveText 5s linear forwards; 
  }
  
  
  .cloud {
    position: relative; 
    background-color: #ffffff; 
    padding: 10px; 
    border-radius: 15px; 
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    margin: 30px auto; 
    height: 100px;
    
  }
  
  ::placeholder {
    text-align: center;
    line-height: 5em;
  }
  
  
  
  textarea {
    width: 100%;
    height:80px ;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
  }
  
  button {
    width: 30%;
    padding: 10px;
    background-color: #74d3f0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049; 
  }
  
  
  
